<html>
<head>
<title>CodeSniff</title>

{% load staticfiles %}

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'app/bootstrap.min.css' %}" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/app">CodeSniff</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</div>
</nav>
<div class="container">
  <div style="border: 1px solid #bbb; margin: 50px; width: 40%; margin-right: auto; margin-left: auto;">
    <h1 style="border-bottom:1px solid #bbb; padding:10px; text-align:center">Create Account</h3>
    <div style="padding:10px;">
    </div>
    <form style="padding:10px" action="{% url 'app:account_request' 'register' %}" method="post">
      {% csrf_token %}
      {% if error == '1' %}
      <div class="form-group has-error">
        <label class="control-label" for="username">username taken</label>
        <input class="form-control" id="username" type="text" name="username" placeholder="username">
      </div>
      {% else %}
      <div class="form-group">
        <input class="form-control" id="username" type="text" name="username" placeholder="username">
      </div>
      {% endif %}
      {% if error == '2' %}
      <div class="form-group has-error">
        <label class="control-label" for="password">passwords don't match</label>
        <input class="form-control" id="password" type="password" name="password" placeholder="password"></textarea>
      </div>
      <div class="form-group has-error">
        <input class="form-control" id="confirm" type="password" name="confirm" placeholder="confirm password"></textarea>
      </div>
      {% else %}
      <div class="form-group">
        <input class="form-control" id="password" type="password" name="password" placeholder="password"></textarea>
      </div>
      <div class="form-group">
        <input class="form-control" id="confirm" type="password" name="confirm" placeholder="confirm password"></textarea>
      </div>
      {% endif %}
      <button type="submit" id="login" class="btn btn-primary" name="login" style="margin: 0 auto; display: block">Sign Up</button>
    </form>
    <div style="padding:10px">
    </div>
  </div>
  <hr>
</div>
</body>

</html>