.component-allcode {
	h1, h2 {
		color: $titles;
		font-weight: 700;
		margin-top: 0;
	}

	h1 {
		text-align: center;
		font-family: 'Roboto Slab', serif;
		font-size: 4em;
	}

	h2 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.3em;
		max-width: 200px;
		text-overflow: ellipsis;
		white-space: nowrap;
  		overflow: hidden;
	}

	.code {
		border: 1px solid $titles;
		background-color: white;
		white-space: pre;
		width: 200px;
		height: 200px;
		font-size: 10%;
		overflow: scroll;
		padding: 10px;
		margin: 0px;
		cursor: pointer;
	}

	.codeblock {
		display: inline-block;
		margin: 10px;
	}

	.center {
		margin: 0 50px;
		text-align: center;
		width: fit-content;
	}

	.difficultydiv {
		text-align: center;
		padding-bottom: 25px;
	}
}