.modal {
	width: 25em;
	padding: 1.2em;

	position: absolute;
	z-index: 10;
	top: 50%;
	margin: -20em 0 0 12em;

	border: 1px solid $button;
	background: white;

	text-align: center;
}

.modal-link:hover {
	cursor: pointer;
	background-color: $accent-muted;
	color: white;
}

.modal-anim-enter {
	opacity: 0;
	transform: scale(0.7);
	transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
	opacity: 1;
	transform: scale(1);
}

.modal-anim-leave {
	opacity: 1;
	transform: scale(1);
	transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
	opacity: 0;
	transform: scale(0.7);
}